<div class="navbar-fixed">
    <nav class="teal">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">VICERANT IT Solutions</a>
          
           <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a routerLink="/login" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<div class="container">
    <div class="center-align" >
            <br>
            <br>

            <h3>C Programming Language</h3>
    <img src="../../../../assets/images/website/c-web.png" alt="">
    <br>
    <br>
    <hr>
    
    <h4>Course Outline</h4>
    <p>
          
      Components of a C program<br>
      Using the C preprocessor<br>
      Using standard runtime libraries<br>
      Using make to build programs<br>
      Working with debugger utilities<br>
      Using data types, storage classes and scope<br>
      Using typedef to make code more readable and portable<br>
      Using operators and expressions<br>
      Working with conditional and looping constructs<br>
      Initializing a pointer<br>
      Accessing the value addressed by a pointer<br>
      Returning the value of a function<br>
      Declaring argument data types<br>
      ANSI function prototype syntax<br>
      Declaring and initializing arrays and multidimensional arrays<br>
      Using Strings and character manipulation<br>
      Declaring and instancing a structure<br>
      Defining a union<br>
      Accessing command line arguments and environment variables<br>
      C runtime library standard I/O functions<br>
     
    </p>
    <br>
    <br>
    <hr>
    <h4>Course Details</h4>
    <div class="row">
        <div class="col s12">
         
            <table>
        
                        
                      
                <tr>
                  
                  <th>Course</th>
                  <th>Duration</th>
                  <th>Registration Fee</th>
                  <th>Total Fee</th>
                  <th>Installation Fee</th>
                  <th>Day and Time</th>
                  <th>Starting Date</th>
                  <th>Ending date</th>
                </tr>
              
              <tr *ngFor="let cd of courseDetailsService.courseDetails">
                
                <td>{{cd.course}}</td>
                <td>{{cd.duartion}}</td>
                <td>{{cd.regfee}}</td>
                <td>{{cd.totfee}}</td>
                <td>{{cd.insfee}}</td>
                <td>{{cd.dayandtime}}</td>
                <td>{{cd.sdate}}</td>
                <td>{{cd.edate}}</td>
                
                
              </tr>
            </table>
        </div>
        
        
        </div>

</div>
</div>

<app-footer></app-footer>



