<main>
    <app-student-navbar></app-student-navbar>
    
    <app-student-sidenav></app-student-sidenav>



<div class="container">

    <h1>Your Payments List</h1>

    <div class="horizontal-list" *ngFor="let data of dataSet">
    
      <div class="horizontal-list-item">
        {{data.advertistmentId}}
      </div>
    
      <div class="horizontal-list-item">
        {{data.amount}}
      </div>
    
      <div class="horizontal-list-item-tem">
        <div (click)="payNow(data)">
          <input name="submit" type="image" src="https://www.payhere.lk/downloads/images/pay_with_payhere.png"
            style="width:200px;" value="Buy Now">
        </div>
      </div>
    
    
    </div>

    


</div>

</main>

<!-- Footer -->
<footer class="section teal darken-2 white-text center">
    <p class="flow-text">VICERANT IT Solutions &copy; 2019</p>
</footer>