<div class="navbar-fixed">
    <nav class="teal">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">VICERANT IT Solutions</a>
          
           <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a routerLink="/login" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>

<div class="container">
    <div class="center-align" >
            <br>
            <br>

            <h3>Graphic Designing</h3>
    <img src="../../../../assets/images/website/graphic-web.jpg" alt="">
    <br>
    <br>
    <hr>
    
    <h4>Course Outline</h4>
    <p>
          
        Concepts and Fundamentals<br>
        Design Principles<br>
        Typography<br>
        Color Theory<br>
        Offset Prepress and Printing<br>
        Digital Photography<br>
        Scanning<br>
        Raster Graphics<br>
        Vector Graphics<br>
        Page Layout<br>
        Outputting for Offset Printing<br>
        Offset Litho Printing<br>
        Hardware Elements<br>
        Open Source software<br>
        Advertising & promotion<br>
        Marketing<br>
        Web Design<br>
        Portfolio<br>
     
    </p>
    <br>
    <br>
    <hr>
    <h4>Course Details</h4>
    <div class="row">
        <div class="col s12">
         
            <table>
        
                        
                      
                <tr>
                  
                  <th>Course</th>
                  <th>Duration</th>
                  <th>Registration Fee</th>
                  <th>Total Fee</th>
                  <th>Installation Fee</th>
                  <th>Day and Time</th>
                  <th>Starting Date</th>
                  <th>Ending date</th>
                </tr>
              
              <tr *ngFor="let cd of courseDetailsService.courseDetails">
                
                <td>{{cd.course}}</td>
                <td>{{cd.duartion}}</td>
                <td>{{cd.regfee}}</td>
                <td>{{cd.totfee}}</td>
                <td>{{cd.insfee}}</td>
                <td>{{cd.dayandtime}}</td>
                <td>{{cd.sdate}}</td>
                <td>{{cd.edate}}</td>
                
                
              </tr>
            </table>
        </div>
        
        
        </div>

</div>
</div>

<app-footer></app-footer>


