<div class="navbar-fixed">
    <nav class="teal">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">VICERANT IT Solutions</a>
          
           <ul class="right hide-on-med-and-down">
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="#search">Courses</a>
            </li>
            <li>
              <a routerLink="/login" class="waves-effect waves-light btn"><i class="material-icons left">exit_to_app</i>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>
